@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
    --color-background: #282c33;
    --color-gray: #abb2bf;
    --color-primary: #c778dd;
}

*:not(#homeContainer) {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    @apply bg-transparent;
}

.quote,
.bottom-quote {
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    font-size: 4rem;
    background: url("/src/assets/quote.svg") no-repeat center;
    background-size: contain;
    top: -1.5rem;
    width: 25px;
    height: 25px;
    transform: translate(24px, 10px);
    z-index: 2;
    left: -1rem;
}

.bottom-quote:before {
    content: "";
    position: absolute;
    font-size: 4rem;
    background: url("/src/assets/quote.svg") no-repeat center;
    background-size: contain;
    top: -1.5rem;
    width: 25px;
    height: 25px;
    transform: translate(80px, 10px);
    z-index: 2;
    left: -1rem;
}

#homeContainer {
    position: relative;
}

#homeContainer:before {
    content: "";
    position: absolute;
    right: 0;
    top: 500px;
    background-image: url("/src/assets/square.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 82px;
    height: 91px;
    z-index: 2;
}

#project-rectangle {
    position: absolute;
    top: 1920px;
    right: 0;
}

#rightCornerMesh {
    position: absolute;
    left: 0;
    top: 1500px
}

@media (max-height: 1400px) {
    #project-rectangle, #rightCornerMesh {
        display: none;
    }
}

#space-filler {
    position: absolute;
    bottom: -70px;
    left: -173px;
}